.titleWrapper {
  margin-bottom: 32px;
  display: inline-flex;
  flex-direction: column;
}

.title {
  font-size: 32px;
  font-weight: 500;
  color: #f2f2f2;
  padding-bottom: 20px;
  position: relative;
}

.title::after,
.title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.title::before {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.title::after {
  height: 2px;
  width: 64px;
  background-color: var(--color-primary);
}

.title > * {
  font-weight: 500;
  font-size: inherit;
}

@media (max-width: 1280px) {
  .title {
    font-size: 26px;
  }
}

.subTitle {
  font-size: 18px;
  color: var(--color-primary);
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

/*
Estilos alternativos baseado nas props
*/
.titleWrapper.secondary .title::after {
  background-color: var(--color-secondary);
}

.titleWrapper.secondary .subTitle {
  color: var(--color-secondary);
}

.titleWrapper.right {
  justify-content: end;
}

.titleWrapper.right .title::after {
  right: 0;
  left: auto;
}
