@import "tailwindcss";

:root {
  /** Colors */
  --color-primary: #7f20ac;
  --color-primary-light: #af14b8;
  --color-primary-dark: #5929a3;
  --color-primary-contrast: #ffffff;

  --color-secondary: #4bb200;
  --color-secondary-light: #5ede00;
  --color-secondary-dark: #44910d;
  --color-secondary-contrast: #ffffff;

  --color-danger-light: #ff2a2a;
  --color-danger-dark: #ed4b4b;
  --color-danger-contrast: #ffffff;

  /** Header */
  --header-height: 80px;

  /** Container */
  --container-width: 1280px;

  /** Box */
  --box-padding: 64px;

  /** Input */
  --input-border: 1px solid rgba(255, 255, 255, 0.15);
  --input-height: 50px;
}

@media (max-width: 1280px) {
  :root {
    --container-width: calc(100% - 32px);
    --box-padding: 16px;
  }
}

@media (max-width: 768px) {
  :root {
    --container-width: 100%;
  }
}

html {
  @apply text-white/70;
  background-color: black;

}

a {
  text-decoration: none;
  color: var(--color-primary-light);
}

strong {
  font-weight: 600;
}

.brightness--1 {
  filter: brightness(1.1);
}
.brightness--2 {
  filter: brightness(1.2);
}
.brightness--3 {
  filter: brightness(1.3);
}
.brightness--4 {
  filter: brightness(1.4);
}
.brightness--5 {
  filter: brightness(1.5);
}
.brightness--6 {
  filter: brightness(1.6);
}
.brightness--7 {
  filter: brightness(1.7);
}
.brightness--8 {
  filter: brightness(1.8);
}
.brightness--9 {
  filter: brightness(1.9);
}

img {
  max-width: 100%;
}
[disabled], .disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .7;
}
@media (max-width: 1280px) {
  .hide-mobile {
    display: none !important;
  }
}
