.boxList {
  list-style: none;
}

@media (max-width: 1280px) {
  .boxList {
    display: flex;
    width: calc(100% + (var(--box-padding) * 2));
    margin-left: calc(-1 * var(--box-padding));
    padding-left: var(--box-padding);
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 16px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.boxListItem {
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  opacity: 0.6;
  transition: 0.3s;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-family: var(--font-mono);
}

.boxListItem.active {
  opacity: 1;
  color: var(--color-primary);
}

.boxListItem:hover {
  opacity: 1;
}

.boxListItem:focus {
  opacity: 1;
  outline: none;
}

@media (max-width: 1280px) {
  .boxListItem.active {
    border-bottom: 2px solid var(--color-primary);
  }
  .boxListItem {
    border-bottom: 2px solid transparent;
    flex: 0 0 auto;
    margin-right: 24px;
  }
}
