.homeBanner {
  width: 100%;
  height: 100vh;
  min-height: 720px;
  max-height: calc(750px + var(--header-height));
  position: relative;
  padding-top: var(--header-height);
  position: relative;
}

@media (max-width: 768px) {
  .homeBanner {
    min-height: 100vh;
    height: 100vh;
    margin-bottom: 64px;
  }
}

.homeBanner > div {
  width: var(--container-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .homeBanner > div {
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.homeBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-image: linear-gradient(transparent, black);
  pointer-events: none;
}

.homeBanner::before {
  content: '';
  width: 100%;
  height: 230px;
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  background-image: linear-gradient(black, transparent);
}

.homeBannerLeft img {
  height: 750px;
  margin-right: 0;
  margin-left: auto;
  display: block;
  object-fit: contain;
}

@media (max-width: 768px) {
  .homeBannerLeft img {
    position: absolute;
    top: 40px;
    left: -30px;
    width: 100%;
    height: 500px;
  }
}

.homeBannerRight {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-right: 24px;
}

@media (max-width: 768px) {
  .homeBannerRight {
    flex: 0 0 100%;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 128px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.homeBannerRight :global(.name) {
  width: 500px;
  display: block;
  filter: brightness(1.2);
  margin: 0 auto 32px;
}

.homeBannerRight :global(.subtitle) {
  color: var(--color-secondary);
  font-size: 14px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .homeBannerRight :global(.subtitle) {
    font-size: 9px;
    letter-spacing: 4px;
  }
}

.homeBannerRight > :global(.button) {
  margin-top: 32px;
}

@media (max-width: 768px) {
  .homeBannerRight > :global(.button) {
    margin-top: 0;
    width: 80%;
  }
}

.homeBannerScrollDown {
  width: 20px;
  height: 21px;
  cursor: pointer;
  display: block;
  margin: 150px auto 0;
}

@media (max-width: 768px) {
  .homeBannerScrollDown {
    display: none;
  }
}
