.inputWrapper {
  position: relative;
  line-height: 24px;
  text-align: left;
}

.label {
  position: absolute;
  font-size: 16px;
  color: white;
  left: 24px;
  top: calc(var(--input-height) * 0.3);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .label {
    font-size: 14px;
  }
}

.input {
  appearance: none;
  border: var(--input-border);
  background: transparent;
  height: var(--input-height);
  padding-left: 24px;
  padding-right: 24px;
  color: white;
  font-size: 16px;
  font-family: inherit;
  display: block;
  width: 100%;
  padding-top: 16.8px;
  transition: 0.3s;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.inputWrapper.active .input {
  border-bottom-color: var(--color-primary);
  border-bottom-width: 2px;
}

.inputWrapper.active .label {
  top: 2px;
  font-size: 12px;
  opacity: 0.8;
}
