.titleWrapper {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.title {
  padding-bottom: 20px;
  position: relative;
}

.title::after,
.title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.title::before {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.title::after {
  height: 2px;
  width: 64px;
  background-color: var(--color-primary);
}

@media (max-width: 1024px) {
  .title {
    margin-top: 16px;
  }
  .title::after {
    display: none;
  }
}


/*
Estilos alternativos baseado nas props
*/

.titleWrapper.right {
  justify-content: end;
}

.titleWrapper.right .title::after {
  right: 0;
  left: auto;
}
